<section class="hero-header">
		<div class="background-image" style="background-image: url(assets/images/bg1.jpg);"></div>
		<h1><%= title %></h1>
		<h3><%= subtitle %></h3>
		<a href="#" class="btn btn--darksalmon">GO TO</a>
	</section>

