<div class="header">
	<h2><a href="index.html">Website Logo</a></h2>
  <div class="menu">
  	<ul class="menu__row">
  		<li class="menu__list"><a href="home.html" class="menu__link">Home</a></li>
  		<li class="menu__list"><a href="index.html" class="menu__link">Index</a></li>
  		<li class="menu__list"><a href="about.html" class="menu__link">About</a></li>
  		<li class="menu__list"><a href="contact.html" class="menu__link">Contact</a></li>
  		<li class="menu__list"><a href="photography.html" class="menu__link">Photography</a></li>
  		<li class="menu__list"><a href="paintinks.html" class="menu__link">Paintinks</a></li>
  	</ul>
  </div>
</div>

